body {
	font-family: 'Open Sans', sans-serif;
}

#root-container {
	margin: 0 auto;
	width: 50.25em;
}

a {
	color: 5e5eee;
}

img {
	margin: 0.5em 0 0.5em 0;
}

h2 {
	margin-top: 2em;
}

.shell {
	background: #e5e5e5;
	padding: 0.5em;
	margin: 0.5em 0;
}

table {
	margin: 1em 0;
}

table, td, th {
	border: 1px solid black;
	text-align: left;
}

td, th {
	border: 1px solid black;
	padding: 0.25em;
	font-size: 0.85em;
}

tt {
	line-height: 1.5em;
}
